*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

#header{
    width: 100%;
    height: 70px;
    display: block;
    background-color: #111;

}

#inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

#logo_container{
    height: 100%;
    display: table;
    float: left;
}

#logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 200;
}

#logo_container h1 span{
    font-weight: 800;
}

#logo_container p{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 20px;
    padding-left: 3px;
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 200;
}

#navigation{
    float: right;
    height: 100%;
}

#navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

#navigation a:last-child{
    padding-right: 0;
}

#navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
    cursor: pointer;
}

#navigation a:hover{
    animation: pulse 1s;
}

#loading_div{
    z-index: 9;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-color: white;
}

#home_div{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-color: #111;
}

#title_div {
    margin-top: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    color:  white;
    font-family: 'Montserrat';
}

#par_div {
    margin: 20px auto;
    width: 60%;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    color:  rgba(253, 253, 253, 0.514);
    line-height: 150%;
    font-family: 'Montserrat';
}

#iframe_div{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    background-color: white;
}

#main_iframe{
    width: 100%; 
    height: 100%;
}



#iframemenu{
    z-index: 2;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 75px;
    margin-left: -55px;
    margin-top: 10px;
    opacity: .2;
    border-radius: 3px;
    transition: opacity .2s ease-out, margin-left .4s ease-out ;
}

#iframemenu:hover{
    opacity: .8;
    transition: opacity .2s ease-out, margin-left .4s ease-out ;
    margin-left: 0px;
}

#iframemenu:hover::after{
    opacity: .2;
    transition: opacity .2s ease-out;
    margin-left: -55px;
    transition: margin-left .4s ease-out;
}

#iframemenu_btns{
    display: flex;
    justify-content: space-around;
}


#iframemenu_btns input{  
    height: 25px;
    opacity: 1;
}







